@import url("https://fonts.googleapis.com/css2?family=rubik:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(226, 43%, 10%);
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.big-container {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
  margin: 50px auto;
}

.profile-item {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  grid-row: 1/3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  width: 15rem;
}
.card-img {
  max-width: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  justify-self: start;
}

.profile {
  background-color: hsl(235, 45%, 61%);
  border-radius: 0.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-row: 1/2;
  align-items: center;
  justify-items: center;
  grid-gap: 0.8rem;
  padding: 0.7rem;
}
.profile-data {
  justify-self: start;
  align-self: start;
  font-weight: 500;
  line-height: 2rem;
}

.profile-data h3 {
  font-weight: 300;
}

.profile-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  font-size: small;
  margin-left: 0.5rem;
}

.profile-text > p {
  color: hsl(246, 80%, 60%);
}

.card {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
  height: 100%;
  width: 15rem;
}
.work {
  background-color: hsl(15, 100%, 70%);
}
.play {
  background-color: hsl(195, 74%, 62%);
}
.study {
  background-color: hsl(348, 100%, 68%);
}
.exercise {
  background-color: hsl(145, 58%, 55%);
}
.social {
  background-color: hsl(264, 64%, 52%);
}
.selfcare {
  background-color: hsl(43, 84%, 65%);
}

.card-icon {
  grid-column: 2/4;
}

.card-icon > img {
  max-width: 3rem;
  align-self: end;
  justify-self: end;
}
.card-envelope {
  background-color: hsl(235, 46%, 20%);
  max-width: 15rem;
  border-radius: 10px;
  grid-column: 1/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.9rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
